/* default color: #8BAD01 */
body, header.site-header, .site-header-1 .stuck, header.site-header-3 .stuck, 
	nav.site-mobile-menu > ul, .cart-button .top_cart_list_product,
	.pricing-item, .tabs > header > h4.active, nav.site-desktop-menu > ul > li > ul,
	nav.site-desktop-menu > ul > li ul ul {border-top-color: #8BAD01;}

	.header-buttons .cart-button .mini-cart-counter, nav.site-mobile-menu > ul > li a:hover,
	#myModal .close, .compact-menu-canvas nav ul li a:hover, #btn-close-canvasmenu,
	.btn-primary, .feature:hover i, .latest-projects .latest-projects-intro, 
	.latest-projects-wrapper .owl-theme .owl-controls .owl-buttons div, 
	.owl-theme .owl-controls .owl-page span, .comments-area input[type=submit],
	.pagination > li > span.current,
	.pagination > li > a:hover, .pro-bar, .stripes .blue, .box-intro-video .btn-intro-video,
	.tabs.tabs-2 > header > h4.active::before, .tabs.tabs-3 > header > h4.active,
	.tabs.tabs-4 > header > h4.active, .newsletter form input[type="submit"],
	#to-the-top:hover, nav.site-mobile-menu > ul > li a:hover, nav.site-desktop-menu > ul > li > ul a:hover,
	a.btn-slider, .sep-background-mask {background-color: #8BAD01;}

	.header-buttons a:hover .fa, .cart_list.product_list_widget .product-detail a:hover,
	.navright-button .isLeft i.fa-bars, .site-header-2 .search-bar .search-submit:hover,
	.btn-border-grey:hover, .feature i, .project-details p.folio-cate i, .project-details p a:hover,
	.latest-blog-post-img .latest-blog-post-date, .latest-blog-post-details p.title a:hover,
	.latest-blog-post-details .latest-blog-post-data span.tags i, 
	.latest-blog-post-details .latest-blog-post-data span.tags a:hover,
	.latest-blog-post-details .latest-blog-post-data span.btn-read a:hover,
	.latest-blog-post-details .latest-blog-post-data span.btn-read a i,
	.post-content .post-title a:hover, .post-date .date-day, .post-metadata i,
	.post-metadata a:hover, .single-tags .fa, .single-tags a:hover, .nav-links a:hover .post-title,
	.comment-author .fn a:hover, .comment-reply-link:hover,
	.comment-reply-link:focus, .main-sidebar .widget ul li a:hover, .widget .search-form .search-submit:hover,
	.testi-boxes blockquote:before, .pricing-table-2 .plan-price, .team-box .team-inner ul li a:hover,
	#filter li .current, #filter li a:hover, footer .main-footer .widget-inner ul li a:hover,
	nav.site-desktop-menu > ul > li > a:hover, .project-details .folio-buttons i {color: #8BAD01;}

	.site-header .btn-mobile-menu:hover i,
	.site-header .btn-mobile-menu.clicked i,
	.social-share a:hover, .owl-theme .owl-controls.clickable .owl-buttons div:hover,
	.compact-buttons div:hover, .tagcloud a:hover, .smk_accordion .accordion_in .acc_head:hover,
	.smk_accordion .accordion_in.acc_active > .acc_head, footer.footer-2 .social-icons-2 a:hover {
		background-color: #8BAD01;
		border-color: #8BAD01;
	}
	.site-header-2 .search-bar .search-box input[type="search"]:focus,
	.site-header-2 .search-bar .search-box input[type="search"]:active, 
	.btn-border-grey:hover, .feature i, .project-details .folio-buttons i,
	.wpcf7-form input[type=text]:focus,
	.wpcf7-form input[type=email]:focus,
	.wpcf7-form input[type=password]:focus,
	.wpcf7-form textarea:focus, .newsletter form input[type="email"]:focus {
		border-color: #8BAD01;
	}
	blockquote{border-left-color: #8BAD01;}
	.tabs.tabs-4 > header{border-bottom-color: #8BAD01;}
.team-box .team-inner .mask,
.social-icons a:hover, .box-intro-video .btn-intro-video:hover {
  background: rgba(139, 173, 1, 0.8);
}
.btn-intro-video:hover {
  background: rgba(139, 173, 1, 0.9);
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary{
	color: #fff;
	background-color: #759200;
	border-color: #4c5f00;
}

.btn-default{
	background-color: #e2f595;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default{
	background-color: #b9d644;
}

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #afca42;
    border-color: #92ad28;
}

.form-control:focus {
    border-color: #cae460;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(164, 233, 102,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(164, 233, 102,.6);
}

a {
    color: #8dca42;
}

a:focus, a:hover {
    color: #6ba227;
}

.label-primary {
    background-color: #83ca42;
}

.contact-list li i {
    color: #70ad01;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
	border-color: #6ba227
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #8bad01;
    border-color: #769203;
}

.responsive-calendar .day.active a {
    background-color: #8bad01;
}
.responsive-calendar .day.active a:hover {
    background-color: #98bb08;
}