/* Pagination */
.pagination-ourter {
  width: 100%;
}
.pagination {
  padding-left: 0;
  margin: 20px 0;
  -webkit-border-radius: 0px;
		  border-radius: 0px;
  display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
  padding: 0px;
  margin-left: 7px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  text-decoration: none;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  -webkit-border-top-left-radius: 0px;
		  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
		  border-bottom-left-radius: 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-top-right-radius: 0px;
		  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
		  border-bottom-right-radius: 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.site-header-1 .main-bar{float:right;}
.stuck{right:0px;}
nav.site-desktop-menu{float:right;margin-right:20px;}
nav.site-desktop-menu > ul{float:left;}
nav.site-desktop-menu > ul > li{float:right;}
nav.site-desktop-menu > ul > li > a{float:right;}
nav.site-desktop-menu > ul > li > ul{right:18px;text-align:right;}
/*nav.site-desktop-menu > ul > li:last-child > ul{left:0;right:inherit;} */
nav.site-desktop-menu > ul > li ul ul{left:-260px;}
nav.site-desktop-menu-2{margin-right:0px;}
nav.site-desktop-menu-2 > ul > li{margin-right:0px;float:right;}
nav.site-desktop-menu-2 > ul > li:first-child > a{padding-right:0px;}
nav.site-desktop-menu-2 > ul > li:first-child > ul{right:0px;}
nav.site-desktop-menu-2 > ul > li:first-child{margin-right:0px;}
header.site-header-3 nav.site-desktop-menu{float:left;margin-right:0px;}
header.site-header-3 nav.site-desktop-menu > ul > li:last-child{margin-left:0px;}
header.site-header-3 nav.site-desktop-menu > ul > li:last-child a{padding-left:0px;}
header.site-header-3 .header-buttons > *{float:left;}
header.site-header-3 .header-buttons > *:first-child{margin-right:28px;}
header.site-header-3 .stuck #logo{float:right;}
.site-header .btn-mobile-menu{float:left;}
nav.site-mobile-menu{float:right;}
nav.site-mobile-menu > ul > li{float:right;}
nav.site-mobile-menu > ul > li ul{float:right;}
nav.site-mobile-menu > ul > li ul li{float:right;}
nav.site-mobile-menu > ul li i.fa{left:0;}
.gray-line{float:right;}
.gray-line3{float:right;}
.header-contact ul li{margin-right:25px;}
.header-contact ul li .fa{margin-left:2px;}
.header-contact ul li:first-child{margin-right:0px;}
.header-contact ul li.border-line{margin-right:20px;}
.header-buttons > *{margin-right:28px;}
.header-buttons > *:first-child{margin-right:0px;}
.modal-body .search-form input[type=\"search\"]{border-left:0px solid #27424f;border-right:0px solid #27424f;}
.modal-body .search-form .search-submit{left:0;}
#myModal .close{left:25px;}
.header-buttons .cart-button .mini-cart-counter{left:-9px;}
.cart-button .top_cart_list_product{right:inherit;padding:10px 20px 20px 20px;left:0;margin-left:-20px;}
.cart_list.product_list_widget .mini_cart_item{float:right;}
.cart_list.product_list_widget .img-thumb{float:right;margin-left:10px;}
.cart_list.product_list_widget .product-detail{padding-right:100px;}
.cart_list.product_list_widget .product-detail .remove{left:0px;}
.top_cart_list_product .total{text-align:left;}
.top_cart_list_product .buttons{text-align:right;}
.compact-menu-canvas{right:initial;left:-260px;border-right:1px solid rgba(255, 255, 255, 0.08);}
.compact-menu-canvas nav{float:right;}
#btn-close-canvasmenu{right:25px;}
.site-header-2 .search-bar{float:left;}
.site-header-2 .search-bar .search-box input[type="search"]{padding:0 12px 0 45px;}
.site-header-2 .search-bar .search-submit{left:0px;}
.subheader h1{float:right;padding-left:40px; padding-right: 0;}
.subheader .breadcrumbs{float:left;margin:10px 0px 0px 0px;}
#sub-header-3 .breadcrumbs-outer{left:15px;}
#sub-header-3 .breadcrumbs{float:left;}
#sub-header-4 .subheader-bottom .breadcrumbs{padding:13px 0 12px 15px;}
.images-preloader .spinner{margin-right:-35px;right:50%;}
.text-left{text-align:right;}
.text-right{text-align:left;}
.no-padding,#content.no-padding{padding:0px 0px 0px 0px;}
.no-margin{margin:0px 0px 0px 0px !important;}
section,#content{padding:60px 0 60px 0;}
.small-border{margin:20px auto 20px auto;}
.tiny-border{margin:0px 0 20px 0;}
.text-center .tiny-border{margin:0px auto 30px auto;}
.tiny-border-light{margin:0px 0 20px 0;}
.list-style-1 li{padding-right:20px;}
.list-style-1 li:before{right:0px;}
.social-share a{margin:0px 0px 0px 8px;}
.btn{padding:10px 30px 10px 30px;}
.btn i{margin-left:7px;}
.mleft{margin-left:15px;}
.btn-big{padding:15px 40px 15px 40px;}
.btn-small{padding:10px 25px 10px 25px;}
.feature{padding-right:68px;}
.feature i{right:0px;}
.latest-projects .latest-projects-intro{float:right;padding:30px 30px 0px 30px;}
.latest-projects .latest-projects-wrapper{float:right;}
.project-details{right:0px;}
.project-details p{right:0px;}
.project-details p.folio-cate i{margin-left:5px;}
.project-details .folio-buttons{right:0px;}
.latest-projects-wrapper .owl-theme .owl-controls .owl-buttons div.owl-next{left:0px;}
.latest-projects-wrapper .owl-theme .owl-controls .owl-buttons div.owl-prev{right:0px;}
.compact-buttons{margin-right:20px;}
.compact-buttons .compact-prev{margin-left:2px;}
.latest-blog-post-img{float:right;}
.latest-blog-post-img .latest-blog-post-date{padding:8px 0px 8px 0px;right:10px;}
.latest-blog-post-details{padding-right:220px;}
.latest-blog-post-details .latest-blog-post-data span.tags i{margin-left:4px;}
.latest-blog-post-details .latest-blog-post-data span.btn-read{float:left;}
.latest-blog-post-details .latest-blog-post-data span.btn-read a i{margin-left:2px;}
.item.margin_15{margin:0px 15px 15px 15px;}
.blog-list .post-media{float:right;}
.blog-list .post-content{padding-right:400px;padding-left: 0;}
.post-date{padding:8px 0px 8px 0px;right:10px;}
.post-metadata span{margin-left:20px;}
.post-metadata span:last-child{margin-left:0px;}
.post-metadata i{margin-left:2px;}
.footer-entry{margin:50px 0px 30px 0px;}
.single-tags .fa{margin-left:4px;}
blockquote{margin-right:30px;border-right:5px solid #29b6f6;}
.nav-links .nav-previous{float:right;}
.nav-links .nav-next{float:left;text-align:left;}
.comments-area .comment-form-author,.comments-area .comment-form-email,.comments-area .comment-form-url{float:right;margin-left:20px;margin-right: 0;}
.comments-area .comment-form-url{margin-left:0px;}
.comments-area input[type=submit]{padding:15px 25px 15px 25px;}
.comment-list .children > li{padding-right:0.875em;}
.comment-author .avatar{float:right;margin-left:0.875em;}
.bypostauthor > article .fn:after{right:3px;}
.comment-content{margin-right:60px;}
.comment-content ul,.comment-content ol{margin:0 1.25em 1.5em 0;}
.comment-body .reply{left:0px;right: auto;}
.comment-reply-link{padding:8px 25px 8px 8px;}
.comment-reply-link:before{right:8px;}
.pagination{padding-right:0;}
.pagination > li > a,.pagination > li > span{margin-right:7px;}
.main-sidebar .widget ul{padding-right:0px;}
.main-sidebar .widget ul ul{padding-right:20px;}
.main-sidebar .widget ul li{padding-right:13px;}
.main-sidebar .widget ul li:before{right:0px;}
.tagcloud a{margin:0 0 7px 7px;float:right;}
.widget .search-form .search-submit{left:0px;}
.testi-boxes blockquote{border-right:none;padding-right:40px;}
.testi-boxes blockquote:before{right:0px;padding:15px 0px 0px 3px;}
.testi-boxes .testi-info{padding-right:35px;}
.testi-boxes .testi-info img{float:right;}
.testi-boxes .testi-info .testi-details{padding-right:65px;}
.testimonials-slider-2 .testi-boxes .testi-info{padding-right:0px;}
.testimonials-slider-2 .testi-boxes .testi-info .testi-details{text-align:right;}
.cal-to-action span{margin-left:60px;}
.skills-name{text-align:right;}
.skills-name span{padding-right:5px;}
.pro-bar-container.style-2{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.pro-bar-container.style-2 .pro-bar{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.text-in-bar{left:0px;}
.service-box img{float:right;}
.service-box .service-content{padding-right:78px;}
.service-box .service-content h3{margin:0px 0px 8px 0px;}
.service-style2 .service-content{padding-right:0px;}
.pricing-table-2{padding:45px 0px 35px 0px;}
.pricing-table-2 .plan-price span{left:-50px;}
.pricing-table-2 .plan-price sup{right:-25px;}
.quick_newsletter .newsletter-element .newsletter-submit{padding:15px 30px 15px 30px;}
.quick_newsletter .newsletter-element .newsletter-submit i{margin-left:5px;}
.team-box .team-inner .mask{right:0;}
.team-box .team-inner ul{right:0;}
.team-box .team-inner ul li{margin-right:3px;margin-left:3px;}
.box-intro-video .btn-intro-video{right:50%;margin-right:-35px;}
.project-item{float:right;margin-right:-1px;}
.project-grid-2 #filter{padding-right:20px;text-align:right;}
.project-grid-2 #filter li{margin-right:0px;margin-left:22px;}
.col-md-3{margin-left:-1px;margin-right:0px;}
.project-page #filter{padding-right:0px;text-align:right;}
.project-page #filter li{margin-right:0px;margin-left:22px;}
#filter li{margin-right:22px;}
ul.project-list{padding-right:0px;}
ul.project-list li strong{margin-left:10px;}
.col-one-third{float:right;}
.margin-one-third{margin-left:2.626%;margin-right:2.626%;}
.contact-list li i{margin-left:5px;}
.newsletter-comingsoon .newsletter-submit{margin-right:10px;padding:15px 30px 15px 30px;}
.newsletter-comingsoon .input-text{margin-left:10px;}
.smk_accordion .accordion_in .acc_head{text-align:right;}
.smk_accordion .accordion_in .acc_head i{margin-left:8px;}
.smk_accordion .accordion_in .acc_content{padding:25px 30px 20px 20px;}
.smk_accordion.acc_with_icon .accordion_in .acc_head,.smk_accordion.acc_with_icon .accordion_in .acc_content{padding-right:30px;}
.tabs{float:right;}
.tabs > header{float:right;border-left-width:1px;border-left-style:solid;border-left-color:#ededed;border-right-width:1px;border-right-style:solid;border-right-color:#ededed;}
.tabs > header > h4{float:right;border-left-width:1px;border-left-style:solid;border-left-color:#ededed;}
.tabs .tabs-main{float:right;}
.tabs .tabs-main .tabs-item{float:right;}
.tabs.tabs-2 > header{border-right-width:0px;border-left-width:0px;}
.tabs.tabs-2 > header > h4{border-right-width:0px;border-left-width:0px;padding-right:0px;padding-left:40px;text-align:right;}
.tabs.tabs-2 > header > h4:last-child{padding-left:0px;}
.tabs.tabs-3 > header{border-right-width:0px;border-left-width:0px;}
.tabs.tabs-3 > header > h4{border-right-width:0px;border-left-width:0px;padding-right:30px;padding-left:30px;}
.tabs.tabs-3 .tabs-main{padding:15px 0px 0px 0px;}
.tabs.tabs-4 > header{border-right-width:0px;border-left-width:0px;}
.tabs.tabs-4 > header > h4{border-right-width:0px;border-left-width:0px;padding-right:30px;padding-left:30px;}
.tabs.tabs-4 .tabs-main{padding:20px 0px 0px 0px;}
.tipper{right:-99999px;}
.tipper .tipper-content{float:right;}
.tipper.right .tipper-caret{right:-5px;}
.tipper.left .tipper-caret{left:-5px;}
.tipper.top .tipper-caret,.tipper.bottom .tipper-caret{margin-right:-6px;}
.tipper.top .tipper-caret{right:0;}
.tipper.bottom .tipper-caret{right:0;}
footer .main-footer{padding:50px 0px 50px 0px;}
footer .main-footer .widget-inner ul li{padding-right:10px;}
footer .main-footer .widget-inner ul li:before{right:0px;}
footer .main-footer .widget-inner .social-icons a{margin-right:0px;margin-left:10px;float:right;}
.newsletter form input[type="email"]{padding-right:44px;padding-left:5px;}
.newsletter form .fa-envelope-o{right:16px;}
.newsletter form input[type="submit"]{padding:10px 30px 10px 30px;}
footer.footer-2 .social-icons-2 a{margin-left:5px;}
footer.footer-2 .footer-contact ul li{margin-right:15px;}
footer.footer-2 .footer-contact ul li .fa{margin-left:5px;}
footer.footer-2 .footer-contact ul li span{margin-right:15px;}
#to-the-top{left:30px;}
.banner-feature-shop img{left:0px;}
.compact-sorting .woocommerce-ordering{float:left;}
.compact-sorting .woocommerce-result-count{float:right;}
.product-item figure figcaption{right:0px;}
.product-item figure figcaption a.button{right:50%;margin-right:-65px;padding:10px 30px 10px 30px;}
.widget ul li .count{float:left;}
.main-sidebar .product_list_widget li img{float:right;margin-left:10px;}
.product-data ul li{float:right;margin-left:30px;}
.product-data ul li span{margin-left:30px;}
.star-rating span{margin-right:10px;}
.commentlist .comment_container img{right:0px;}
.commentlist .comment_container .comment-text{margin-right:65px;}
.commentlist .comment_container .comment-text .star-rating{left:1em;}
.product-detail-image-thumb li{float:right;margin-left:21px;}
.product-detail-image-thumb li:last-child{margin-left:0px;}
table.shop_table{margin:0 0 24px -1px;text-align:right;}
table.shop_table th{border-width:0 0 3px 0px;}
table.shop_table td{border-width:0 0 1px 0px;}
table.shop_table tr:last-child td{border-width:0 0 0px 0px;padding-right:0px;padding-left:0px;}
.coupon .input-text,.shipping-calculator-form .input-text,.shipping-calculator-form select{padding-right:15px;padding-left:5px;}
.coupon input[type="text"]{margin-left:25px;}
.coupon{float:right;}
.actions .btn{float:left;}
.cart_totals table.shop_table th,.cart_totals table.shop_table td{border-width:0 0 1px 0px;}
.cart_totals table.shop_table tr:last-child th{border-width:0 0 0px 0px;}
.cart_totals table.shop_table th{padding-right:0px;}
.shop-checkout .form-row .input-text,.shop-checkout .form-row select{padding-right:15px;padding-left:5px;}
form .form-row-first,form .form-row-last{float:right;}
form .form-row-first{margin-right:initial; margin-left:2%;}
form .form-row .input-checkbox{margin:-2px 0 0 8px;}
.cart_totals table.shop_table .no-border th,.cart_totals table.shop_table .no-border td{border-width:0 0 0px 0px;}
.cart_totals table.shop-checkout td:last-child,.cart_totals table.shop-checkout th:last-child{text-align:left;}
.woocommerce-checkout-payment li label{margin-right:5px;}
.woocommerce-pagination .page-numbers{padding-right:0;}
.woocommerce-pagination .page-numbers li{float:right;}
.woocommerce-pagination .page-numbers > li > a,.woocommerce-pagination .page-numbers > li > span{margin-right:7px;}
.woocommerce-pagination .page-numbers > li:first-child > a,.woocommerce-pagination .page-numbers > li:first-child > span{margin-right:0;border-bottom-right-radius:0px;}
.woocommerce-pagination .page-numbers > li:last-child > a,.woocommerce-pagination .page-numbers > li:last-child > span{border-bottom-left-radius:0px;}


/* #Media Queries
================================================== */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.header-buttons > *{margin-right:10px;}
	.site-header-2 .header-buttons > *,.site-header-2 .header-contact ul li{margin-right:20px;}
	.site-header-2 .header-contact ul li.border-line{margin-right:15px;}
	.header-contact ul li.border-line{margin-right:5px;}
	.latest-news-items-2 .latest-blog-post-details{padding-right:0px;}
}
@media (max-width: 992px) {
	.site-header-2 .main-bar .header-buttons{margin-left:20px;}
	.cal-to-action span{margin-left:0px;}
	.pricing-table-2 .plan-price span{left:-40px;}
	.blog-list .post-content{padding-right:320px;}
}
@media only screen and (max-width: 767px) {
	.blog-list .post-content{padding-right:0px;}
}
@media only screen and (max-width: 479px) {
	#filter li{margin-right:11px;margin-left:11px;}
	.project-grid-2 #filter,.project-page #filter{padding-right:0;}
	.project-grid-2 #filter li,.project-page #filter li{margin-right:11px;margin-left:11px;}
	.col-one-third.margin-one-third{margin-right:0px;margin-left:0px;}

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.latest-blog-post-details{padding-right:0px;}

}

.pull-left {
    float: right!important;
}

.pull-right {
    float: left!important;
}

.pagination>li>a, .pagination>li>span{
	float:right;
}
.news-img-wrapper{float:right;}
.news-img .col-xs-6{padding-right:0px;padding-left:15px;}

.entity_attribute{
    float:right;
}

.entity_attribute .attribute_label {
    float:right;
}

.entity_attribute .attribute_value {
    float:right;
    margin-left: initial;
    margin-right: 10px;
}
.social_icon{
	right:auto;
	left:0;
}
ul.project-list li strong{
    margin-right: initial;
    margin-left: 10px;
}

aside .latest-projects-2 article.item {
    float: right;
}
.row.sub-entity .latest-projects-2 article.item {
    float: right;
}
#section-colleges aside {
    float: right;
    margin-right: initial;
    margin-left: 2%;
}
#section-colleges aside .latest-projects-wrapper .blog-grid,.blog_grid{
  float: right;
}
ul.project-list li.entity_attribute .attribute_label{
	padding: 1% 3% 1% 0;
}
#filterDropDown.dropdown-menu {
  right: auto;
  left: 0;
  border-left: initial;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

#btn-close-filter {
  right: auto;
  left: 20px;
}
.entity_attribute.attribute_type_textarea{
	max-height: 220px;
}
.see_more{
	right: auto;
	left: 15px;
}
.addthis-float {
    position: absolute;
    z-index: 1000;
    right: auto;
    left: 10px;
}
.header-buttons > * {
    margin-left: 0;
}