/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	color: #424242;
}
.page-container .sidebar-menu .logo-env > div > a {
	color: #FFFFFF;
}
.page-container .sidebar-menu .logo-env > div > a > h1 {
	margin: 0;
	color: #FFFFFF;
	font-weight: bold;
}

.dropdown-menu-right{
	right:0;
	left:auto
}
.dropdown-menu-left{
	right:auto;
	left:0
}

.page-body .datatable.table tbody td:last-child {min-width: 170px;}
.page-body .datatable.table tbody td:last-child a {margin: 0 5px 5px 0;}
.tag_disabled span {
    display:none
}
.tag_disabled input {
    display:none
}
.tag_disabled .tag_note {
    display:none
}

.login-container .login-content h1{
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}
article.album .album-info{
    height:50px;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    overflow-y: auto;
}

.form-head{
  padding-left:5px;
  padding-top:5px !important;
  padding-bottom:5px !important;
  background-color: #eee;
  font-weight: bold;
}

#place_images, #entity_images {
  clear: both;
  max-width: 930px;
  width: 100%;
}
#place_images .image, #entity_images .image{
  background: #ffffff;
  border: 1px solid  #dfdfdf;
  float:left;
  padding: 7px;
  margin: 3px;
}

#place_images .image img, #entity_images .image img{
  float:left;
  clear:both;
  max-width:200px;
  min-width:200px;
  max-height:200px;
  min-height:200px;
  
}

#place_images .image .filename , #entity_images .image .filename{
  width: 175px;
  float: left;
  overflow: hidden;
}

#FineUploader{
  float:left;
  margin:0; 
}
.qq-uploader.span4{
  margin:0;
}
.qq-uploader.span4, #check-accordion div > div.qq-uploader.span4, #check-accordion div > div.qq-upload-button.btn{
  margin:0;
}



#place_images label, #entity_images label{
  width: 100%;
}

.editable-buttons{
  display:block;
}

.rtl{
  direction: rtl !important;
  
}