/*@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*/
@font-face {
	font-family: ge-ss;
	src: url(../fonts/ge-ss/ge-ss-med.eot);
	src: url(../fonts/ge-ss/ge-ss-med.ttf);
}
html {
	direction: rtl;
}

body {
	direction: rtl;
	padding-bottom: 42px;
	font-family: 'Droid Arabic Naskh' , serif !important;
}
h1, h2, h3, h4, h5, h6 , .btn , blockquote cite, blockquote small , .comments-area input[type=submit] , .pricing-item .plan-price span , .newsletter form input[type="submit"] ,.product-item figure figcaption a.button 
{
	font-family: 'Droid Arabic Naskh' , serif;
}
